<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- twitter -->
<meta name="twitter:card" content="{% if page.twitter and page.twitter.card %}{{ page.twitter.card }}{% else %}summary{% endif %}">
<meta name="twitter:site" content="{% if page.twitter and page.twitter.site%}{{page.twitter.site}}{% else %}vidbina{% endif %}">
<meta name="twitter:creator" content="{% if page.twitter and page.twitter.creator%}{{page.twitter.creator}}{% else %}vidbina{% endif %}">
{% if page.twitter and page.twitter.image %}<meta name="twitter:image" content="{{ page.twitter.image }}">{% endif %}

<meta name="twitter:site" content="{% if page.twitter and page.twitter.site%}{{page.twitter.site}}{% else %}vidbina{% endif %}">
<meta name="twitter:creator" content="{% if page.twitter and page.twitter.creator%}{{page.twitter.creator}}{% else %}vidbina{% endif %}">
{% if page.twitter and page.twitter.image %}<meta name="twitter:image" content="{{ page.twitter.image }}">{% endif %}

<meta property="og:type" content="{% if page.og and page.og.type %}{{ page.og.type}}{% else %}article{% endif %}" />
{% if page.og %}
{% if page.og[page.og.type] %}
{% for og_type_els in page.og[page.og.type] %}
{% for og_type_el in og_type_els %}
<meta property="{{og_type_el[0]}}" content="{{og_type_el[1]}}" />
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}

<meta property="og:url" content="/{{ page.url }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />

{% if page.og and page.og.image %}
<meta property="og:image" content="{{ page.og.image }}" />
{% elsif page.image %}
<meta property="og:image" content="{{ page.image }}" />
{% elsif page.twitter.image %}
<meta property="og:image" content="{{ page.twitter.image }}" />
{% endif %}

{% if page.og and page.og.article %}
{% if page.og.article.author %}<meta property="article:author" content="{{page.og.article.author}}">{% endif %}
{% if page.og.article.section %}<meta property="article:section" content="{{page.og.article.section}}">{% endif %}
{% if page.og.article.tags %}
{% for tag in page.og.article.tags %}<meta property="article:tag" content="{{tag}}">{% endfor %}
{% else %}
{% for tag in page.tags %}<meta property="article:tag" content="{{tag}}">{% endfor %}
{% endif %}
{% endif %}
