<!DOCTYPE html>
<html id="simple">
  <head>
    {% include meta.html %}

    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/svg/tee.svg">
    <link rel="icon" sizes="192x192" href="/icons/192x192.png">
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/152x152.png">
    <meta name="msapplication-square70x70logo" content="/icons/70x70.png">
    <meta name="msapplication-square150x150logo" content="/icons/150x150.png">
    <meta name="msapplication-square310x310logo" content="/icons/310x310.png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/print.css" media="print">

    <!-- head includes -->
    {% if page.mathjax %}
    {% include mathjax.html %}
    {% endif %}

    {% if page.function_plot %}
    {% include function_plot.html %}
    {% endif %}
    <!-- end includes -->
  </head>
  <body class="light">
    <div class="site">
      <header>
        <a href="/">
        <h1 class="title">{{ site.name }}</h1>
        {% include logo.html %}
        </a>
        <p>{{ site.slogan }}</p>
      </header>

      {{ content }}

      <div class="footer">
        <ul>
          {% for page in site.pages %}
          {% if page.show %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        {% if false %}
        <div class="contact">
          <p>
            
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
